@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Work+Sans&display=swap');

* {
    box-sizing: border-box;

}
body {
    margin: 0;
    padding: 0;

}
nav {
    background-color: #DDDDDD;
    display: flex;
    justify-content: space-between;
    margin: 0;


}
ul {
    display: flex;
    margin: 0;
    padding: 0;

}
li {
    list-style: none;

}
a {
    color: black;
    text-decoration: none;
    display: inline-block;
}

a:hover {
    background-color: #3B94D9;
    color: #DDDDDD;
}

.nav-left, .nav-right {
    font-family: 'Work Sans', sans-serif;

}

.nav-left a {
    padding: 28px;
}

.nav-right a {
    padding: 28px;
}

.nav-center a {
    font-family: 'Montserrat', sans-serif;
    font-size: 3em;
    padding: .2em;
}
