* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

nav {
    background: #D0D0D0;
}

ul {
    list-style: none;
    width: 100%;
    display: flex;
    font-family: 'Work Sans', sans-serif;

}

#logo {
    font-family: 'Montserrat', sans-serif;
    font-size: 3em;
    padding: .2em;
}

nav a {
    text-decoration: none;
    color: black;
}

nav a:hover {

}
