
body {
    font-family: 'Righteous', cursive;
}

.navbar {
    background-color: #022601;
}

.navbar-brand {
    font-size: 2.5em;
    color: #BF8F36;
}

.navbar-brand:hover {
    color: #4B593E;
}

.nav-link {
    color: #BF8F36;
}

.nav-link:hover {
    color: #4B593E;
}

.custom-toggler.navbar-toggler {
    border-color: #BF8F36;
}